body {
    margin: 0;
    font-family: Arial, sans-serif;
}

.welcome-section {
    background-image: url('AKS-7.jpg');
    background-size: cover;
    background-position: center;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    text-align: center;
}

.welcome-content h1 {
    font-size: 2.5em;
    margin: 0;
}

.welcome-content h2 {
    font-size: 2em;
}

.welcome-content p {
    font-size: 1.5em;
}

button {
    padding: 10px 20px;
    font-size: 1.2em;
    margin-top: 20px;
    cursor: pointer;
    background-color: #ff5a5f;
    border: none;
    color: white;
    border-radius: 5px;
}

.locked-section {
    display: none;
    background-image: url('path/to/your/section-background.jpg');
    background-size: cover;
    background-position: center;
    height: 100vh;
    color: white;
    text-align: center;
    padding: 20px;
}

