body:before {
  content: "";
  display: block;
  position: fixed;
  left: 0;
  top: 0;
  size: 100;
  z-index: -10;
  background: url(AKS-7.jpg) no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
